.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup label {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.inputGroup input {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
